/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: rgb(146,205,207);
}

a, a:link {
    color: rgb(146,205,207);
}
a:hover, a:active {
    color: rgb(175,225,225);
}
a:visited {
    color: rgb(140,200,200);
}
a.btn-success, a.btn-success:link, a.btn-danger, a.btn-danger:link {
    color: rgb(238,239,247);
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: rgb(146,205,207);
    border-top: 1px solid rgba(238,239,247,.9);
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        /*border-left: 1px solid rgba(238,239,247,.9);*/
    }
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: rgb(146,205,207);
    color: #eeeff7;
    border-color: rgba(28,29,33,.1);
}
.dropdown-menu {
    background-color: rgba(68,88,120,1);
    color: #eeeff7;
    border-radius: 1px;
}
.dropdown-menu>li>a {
    color: #eeeff7;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: rgba(146,205,207,.9);
    color: #eeeff7;
}

.navbar-brand img {
    margin-top: -15px;
}
.navbar-default {
    background-color: rgba(28,29,33,.9);
    border-color: rgba(49,53,61,1);
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

#side-menu {
    border-right: 1px solid rgba(238,239,247,.9);
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid rgba(49,53,61,1);
}

.sidebar ul li a.active {
    background-color: rgba(49,53,61,1);
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: rgba(49,53,61,1);

}
.sidebar-nav .nav li {
    border-top: 1px solid rgba(28,29,33,.3);
    border-left: 3px solid rgba(28,29,33,1);
}
.sidebar-nav .nav-second-level li {
    border-left: 0;
}
.sidebar-nav .nav li:hover, .sidebar-nav .nav li:focus {
    border-left: 3px solid rgba(146,205,207,.5);
}
.sidebar-nav .nav-second-level li:hover, .sidebar-nav .nav-second-level li:focus {
    border-left: 0;
}
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-primary {
    border: 1px solid rgb(146,205,207);
}
.panel-primary>.panel-heading {
    background-color: rgb(68,88,120);
    border-color: rgb(68,88,120);
}
.panel {
    border-radius: 1px;
}
.panel-heading {
    border-radius: 0px;
}
.fa, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,.01);
    text-rendering: optimizeLegibility;
}
.thin { font-weight:300; }

.btn {
    border-radius: 1px;
}
.btn-primary {
    color: rgb(238,239,247);
    background-image: -webkit-linear-gradient(top, rgb(28,29,33) 0%, rgb(49,53,61) 100%);
    background-image: linear-gradient(to bottom, rgb(28,29,33) 0%, rgb(49,53,61) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1d21', endColorstr='#31353d', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 0 none;
}
.btn-action:hover, .btn-action:focus, .btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background: rgb(146,205,207);
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(68,88,120);
    border-color: #285e8e;
}
.btn-danger {
    background-color: #B90701;
    border-color: #850400;
}
.btn-success {
    background-color: #107010;
    border-color: #1D521D;
}
.btn-success:hover, .btn-success:active {
    background-color: #178517;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: rgba(146,205,207,.2);
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.btn-toggle {
    background-image: -webkit-linear-gradient(top, rgb(28,29,33) 0%, rgb(49,53,61) 100%);
    background-image: linear-gradient(to bottom, rgb(28,29,33) 0%, rgb(49,53,61) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1d21', endColorstr='#31353d', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    color: #8f8f8f;
    border-color: rgb(49,53,61);
    text-decoration: line-through;
}
.btn-toggle:hover, .btn-toggle.visited {
    color: #fff;
    border-color: #fff;
    text-decoration: none;
}
.btn-toggle.active, .btn-toggle:active {
    background: rgb(146,205,207);
    border-color: #fff;
    color: #fff;
    text-decoration: none;
}
.menu-btn {
    background: rgba(68,88,120,0);
    border: 1px solid rgba(255, 255, 255, .2);
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(255,255,255,.2);
}
.menu-btn:hover, .menu-btn:active {
    border-color: rgb(255,255,255);
    color: rgb(255,255,255);
}
.table-icon {
    font-size: 1.8em;
    text-align: center;
}